.verify-email-bg{
    background: white;
}

.verify-email{
    margin: auto;
    justify-content: center;
    width: auto;   
    padding: 10px;
}

.verify-button{
    color: white;
    background-color: tomato;
    font-size: large;
    margin: 20px;
}

.card-verify{
    background-color: #0691f2;
}

.col-verify{
    margin: auto;
    
}